<!doctype html>

<!-- scripts -->
<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src="mirror/mirrorbuild.js"></script>
<head>
  <meta charset="utf-8">
  <title>Build a Smart Mirror</title>
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- FORM TO CREATE MIRRORS -->
  <div id="mirror-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1> Create Mirror </h1>
          <form>
              <div class="form-group">

                  <input type="text" id="serial" class="form-control text-center" placeholder="Serial #">
                  <br>
                  <input type="text" id="user" class="form-control text-center" placeholder="User">
                  <h3 >Weather:  <input id="weatheron" type="checkbox" ></h3>
                  <input type="text" id="weatherx" class="form-control text-center" placeholder="Weather X coordinate">
                  <input type="text" id="weathery" class="form-control text-center" placeholder="Weather Y coordinate">
                  <h3 >News:  <input id="newson" type="checkbox" ></h3>
                  <input type="text" id="newsx" class="form-control text-center" placeholder="News X coordinate">
                  <input type="text" id="newsy" class="form-control text-center" placeholder="News Y coordinate">
                  <h3 >Clock:  <input id="clockon" type="checkbox" ></h3>
                  <input type="text" id="clockx" class="form-control text-center" placeholder="Clock X coordinate">
                  <input type="text" id="clocky" class="form-control text-center" placeholder="Clock Y coordinate">
              </div>

              <!-- createToDo() WILL CREATE NEW TODOS -->
              <button type="submit" id="btnAddMirror" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
          </form>
      </div>
  </div>

</body>
</html>
