<!doctype html>
<html ng-app="mirrorApp">
<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
<script type="text/javascript" src="mirrorApp.js"></script>
<script type="text/javascript" src="mirrorControllers.js"></script>

<head>
  <meta charset="utf-8">
  <title>Smart Mirror</title>
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href="./stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/owfont-regular.css">
</head>
<body>

  <div ng-controller="GenController" class="gen">
    <div ng-controller="ClockController" class="clock">
    	<p1 ng-if="showC" ng-include="'partials/clock.html'"></p1>
    </div>
    <div  ng-controller="WeatherController" class="weather">
      <p2 ng-if="showW" ng-include="'partials/weather.html'"></p2>
    </div>
    <div  ng-controller="NewsController" class="news">
      <p3 ng-if="showN" ng-include="'partials/news.html'"></p2>
    </div>
  </div>


</body>
</html>
