<!-- FORM TO CREATE MIRRORS -->
<div id="mirror-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1> Update Mirror {{username}}</h1>
        <form>
            <div class="form-group">

                <h3 >Weather:  <input ng-model="checkboxModel.weatheron" nginit="checked=false" type="checkbox" ></h3>
                <input type="text" ng-model="weatherx" class="form-control text-center" placeholder="Weather X coordinate">
                <input type="text" ng-model="weathery" class="form-control text-center" placeholder="Weather Y coordinate">
                <h3 >News:  <input ng-model="checkboxModel.newson" nginit="checked=false" type="checkbox" ></h3>
                <input type="text" ng-model="newsx" class="form-control text-center" placeholder="News X coordinate">
                <input type="text" ng-model="newsy" class="form-control text-center" placeholder="News Y coordinate">
                <h3 >Clock:  <input ng-model="checkboxModel.clockon" nginit="checked=false" type="checkbox" ></h3>
                <input type="text" ng-model="clockx" class="form-control text-center" placeholder="Clock X coordinate">
                <input type="text" ng-model="clocky" class="form-control text-center" placeholder="Clock Y coordinate">
            </div>

            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" ng-click="save()" class="btn btn-primary btn-lg">Submit</button>
        </form>
        <br>
        <button ng-click="dragndrop()" class="btn btn-default btn-dragnd">Visit Drag and Drop Editor</button>
    </div>
</div>
