<!-- FORM TO CREATE MIRRORS -->
<div id="mirror-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1> Hi {{username}}, submit a serial number to claim a mirror.</h1>
        <form>
            <div class="form-group">

                <input type="text" ng-model="serial" class="form-control text-center" placeholder="Serial #">
            </div>

            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" ng-click="save()" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>
