<div ng-controller="GenController" class="gen">
  <div ng-controller="ClockController" class="clock">
    <p1 ng-if="showC" ng-include="'partials/clock.html'"></p1>
  </div>
  <div  ng-controller="WeatherController" class="weather">
    <p2 ng-if="showW" ng-include="'partials/weather.html'"></p2>
  </div>
  <div  ng-controller="NewsController" class="news">
    <p3 ng-if="showN" ng-include="'partials/news.html'"></p2>
  </div>
</div>
