<!-- LOGIN FORM -->
<form>
    <div class="form-group">
        <label>Email</label>
        <input type="text" ng-model="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="password" class="form-control" name="password">
    </div>

    <button type="submit" ng-click="login()" class="btn btn-warning btn-lg" id="loginBut">Login</button>
</form>
