body
{
	background-color:black;
}

p1
{
	position: absolute; 
	bottom: 8px;
	left: 16px;
	color: white; 
	right: 0; 
	width: 600px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 52px;

}