<head>
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/clock.css"> -->
</head>
<body>
<div>
{{clock | date:'medium'}}
</div>
</body>
