<head>
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/weather.css"> -->
</head>
<body>
<div>
	{{ data.main.temp | number : 0 }} degrees(F)
	<i class="owf owf-{{data.weather[0].id}} owf-2x"></i>
</div>
</body>
